<div class="booyah-box col-10 offset-1 col-md-4 offset-md-4">
  <h1>Join a Game</h1>

  <% if current_user %>
    <h2>Available Games:</h2>
    <ul>
      <% @game.each do |game| %>
        <% if game.black_player_id.nil? && game.white_player_id && game.forfeiting_player_id.nil? %>
          <li>Waiting for
            <b>black</b>
            to join...
            <%= link_to 'Join this game', join_as_black_game_path(game), method: :put %></li>
          <% elsif game.black_player_id && game.white_player_id.nil? && game.forfeiting_player_id.nil? %>
            <li>Waiting for
              <b>white</b>
              to join...
              <%= link_to 'Join this game', join_as_white_game_path(game), method: :put %></li>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <h2><%= link_to 'Log in', new_user_session_path %> to see available games!</h2>
    <% end %>
  </div>

  <br />
<% if current_user %>
<div class="booyah-box col-10 offset-1 col-md-4 offset-md-4">
  <h1>Create Game</h1>
    <div class="row container">
      <%= simple_form_for @game.new do |f| %>
        <%= f.input :white_player_id, :as => :hidden, :input_html => { :value => current_user.id } %>
        <%= f.submit "White Player", class: 'btn btn-primary btn btn-primary create-game-button left' %>
      <% end %>
      &nbsp; &nbsp; &nbsp;
      <%= simple_form_for @game.new do |f| %>
        <%= f.input :black_player_id, :as => :hidden, :input_html => { :value => current_user.id } %>
        <%= f.submit "Black Player", class: 'btn btn-primary create-game-button right' %>
      <% end %>
    </div>
<% end %>
