<!--h1>This will show all of our games!</h1>
<p><%= @game.name %></p-->


<div class="chess-board-render">
	<% tile_color = 1 %>

	<% 0.upto(7) do |y| %>
		<div class="board-row">

			<% 0.upto(7) do |x| %>
				<% tile_color = (tile_color == 0 ? 1 : 0) if x > 0 %>

				<div class="board-square <%= tile_color == 0 ? 'black': 'white' %>">

				<% piece = @pieces_by_position["#{x}, #{y}"] %>

				<% if piece %>
					<% svg_data = @game.get_svg_data_string(piece, x, y, 45, asset_path('Chess_Pieces_Sprite.svg')) %>
					<% image_class = "svg-piece-display" %>
					<% if @selected_piece_id == piece.id.to_s
							image_class = "svg-piece-display select"
							end %>

							<!-- some jquery here to click a tile to move to -->
							<!-- pass this new x and y to move_path to update piece -->

					<%= link_to move_path(@game, :piece_id => piece.id, :x_pos => x, :y_pos => y ) do %>
						<img src="<%=svg_data%>" class="<%= image_class %>">
					<% end %>

					<% end %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>
