<!--h1>This will show all of our games!</h1>
<p><%= @game.name %></p-->


<div class="chess-board-render">
	<% tile_color = 1 %>

	<% 0.upto(7) do |y| %>
		<div class="board-row">

			<% 0.upto(7) do |x| %>
				<% tile_color = (tile_color == 0 ? 1 : 0) if x > 0 %>

				<div class="board-square <%= tile_color == 0 ? 'black': 'white' %>">
					<% @pieces.each do |piece| %>
						<% if piece.x_pos == x && piece.y_pos == y %>
							<% scale = 45 %>
							<% svg_data = @game.get_svg_data_string(piece, x, y, scale, asset_path('Chess_Pieces_Sprite.svg')) %>

							<%= link_to select_path( :piece_id => piece.id, :x_pos => piece.x_pos, :y_pos => piece.y_pos ) do %>
								<object type="image/svg+xml" class="svg-piece-display" data="<%=svg_data%>"
									width ="<%= scale * 2 %>" height="<%= scale * 2 %>"></object>
							<% end %>
							<% end %>
					<% end %>
				</div>
			<% end %>

		</div>
	<% end %>
</div>
