<!--h1>This will show all of our games!</h1>
<p><%= @game.name %></p-->


<div class="chess-board-render">
	<% tile_color = 1 %>

	<% 0.upto(7) do |y| %>
		<div class="board-row">

			<% 0.upto(7) do |x| %>
				<% tile_color = (tile_color == 0 ? 1 : 0) if x > 0 %>

				<div class="board-square <%= tile_color == 0 ? 'black': 'white' %>" id="<%= "#{x}-#{y}" %>">
				<!-- loop through every position on the board and look up the piece that's there from @piece_positions -->
					<% piece = @pieces_by_position["#{x}, #{y}"] %>

					<% if piece %>
						<% svg_data = @game.get_svg_data_string(piece, x, y, 45, asset_path('Chess_Pieces_Sprite.svg')) %>
						<%= link_to move_path( :piece_id => piece.id, :x_pos => piece.x_pos, :y_pos => piece.y_pos ) do %>
							<img src="<%=svg_data%>" class="svg-piece-display drag-a-piece" id = "<%= piece.id %>" >
						<% end %>
					<% end %>
				</div>
			<% end %>

		</div>
	<% end %>
</div>


<script>
$(document).ready(function(){
	$(".drag-a-piece").draggable();


 	$(".drag-a-piece").hover(function(){
		console.log("hi");
		$(this).closest('.board-square').toggleClass("select");

	});

	//$(".drag-a-piece").mousedown(function(){
	//	$(this).closest('.board-square').addClass("select");
	//});


	$(".board-square").droppable({
			classes: {
				"ui-droppable-hover": "select"
			},
			accept: '.drag-a-piece',
			drop: function( event, ui ) {
				var res = event.target.id
				var drop_square = res.split("-");
				console.log(drop_square)
				var target_x = drop_square[0]     //need to loopup this information, reach using $(this).closest? or .parent?
				var target_y = drop_square[1]		//""
				var piece_id = ui.draggable.prop('id');
				var path = "/games/<%= @game.id.to_s %>/" + piece_id + "/" + target_x + "/" + target_y;
				//console.log(path);
				$.post(path, {}, function(data, status){
					//console.log(status)
					location.reload();
			  });



						//alert("Piece " + piece_id + " dropped on tile: x= " + target_x + ", y= " + target_y);
				}


		});


});


</script>
