<!DOCTYPE html>
<html>
  <head>
    <title>Bro-Chess</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to 'bRo chEsS', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to 'Home', root_path(current_user), class: 'nav-link' %>
            </li>
            <li class="nav-item active">
              <%= link_to 'My Profile', user_path(current_user), class: 'nav-link' %>
            </li>
            <li class="nav-item active">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? && controller_name == 'games'%>

            

            <li class="nav-item">
              <% if @game.forfeiting_player_id.nil? %>
                <%= link_to 'Forfeit Game', forfeit_path(@game.id), method: :post, class: "btn btn-danger", data: { confirm: "Do you really want to forfeit the game?"} %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>


   <%= yield %>

 </body>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 </html>
